<html>
<head>
    <style>
    
        th.head-style {
    background-color: #21dfcf;
    border-radius: 0;
    font-size: 15px;
    font-weight: 500;
    border-right: solid 1px #21dfcf;
    text-align: center;
    line-height: 33px;
    color: #fff;
}
td.td-style {
    text-align: left;
    background-color: #fff;
    border-radius: 0;
    font-weight: 500;
    line-height: normal;
    border: solid 1px #d4d1d1;
    
    font-size: 15px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 120px;
    margin-top: 40px;
    
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
h5{
    font-size: 15px;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  margin-top: 0.5px;
  
        
        }
        .image{
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: -40px;
          padding-right:10px;
          background-position: left;
         

        }
        .move{
          padding-left: 120px;
        }


    </style>
</head>
<body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark ">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01"  >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" class="image"><img src="assets/images/Capture.JPG" alt="" style="width:170px; height:60px"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" >
              <a class="nav-link" routerLink="/profile" style="color:black;font-size:20px;;font-weight:bolder;">Home<span class="sr-only">(current)</span></a>
            </li>
           
           
            <li class="nav-item">
              <a class="nav-link"routerLink="/about" style="color:black;font-size:20px;;font-weight:bolder;">About</a>
            </li>
            <li class="nav-item">
              <button   type="button" class="btn btn-success" class="nav-link "routerLink="/logout" style="font-size:20px;font-weight:bolder;margin-left: 785px;background-color: green;
              color: white;width: 90px;margin-top: 5px;">logout</button>
              
            </li>
          </ul>
          
        </div>
      </nav>
<div class="container">
   <div class="row">
       
       <div class="col-2">
            <div class = "card" style=" width:160px;margin-left: -60px;margin-top: 30px;">
            <h5> <b>Sprayer from FlipKart</b></h5>
                <img src = "assets/images/ad2.jpg" class = "card-img-top" alt=" " style="height:120px; width:70px;margin-right: 10px;">
                <div class = "card-body">
                <h5 class = "card-title"><b>Ads</b></h5>
                <button class="button button1">BUY</button>
                </div>
            </div>
                <br/>
            <div class = "card " style=" width:160px;margin-left: -60px;">
                <h5> <b>Pesticides from FlipKart</b></h5>
                <img src = "assets/images/ad1.png" class = "card-img-top" alt=" "  style="height:120px; width:70px;margin-right: 10px;">
                <div class = "card-body">
                <h5 class = "card-title"><b>Ads</b></h5>
                <button type="button" class="btn btn-info btn-sm">Buy Now</button>
                </div>
            </div>
        </div>
              
                <div class="col-9">
<h1 style="text-align:center">   <b>Montly Market Prices</b></h1><br>
              
                    <h2 style="font-size:25px" >
                                       
                        Telangana State, Warangal District, Warangal Market Commodity Prices</h2>
                    <table class="table-bordered table-striped table-hover table-sm ">
                    <thead>
                        <tr>
                    <th class="head-style">Commodity</th>
                    <th class="head-style">Variety</th>
                    <th class="head-style">Maximum Price</th>
                    <th class="head-style">Average Price</th>
                    <th class="head-style">Minimum Price</th>
                    <th class="head-style">Last Updated On</th>
                    <th class="head-style">Price Trend</th>
                </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='td-style'>Red Gram	</td>
                            <td class='td-style'>Local</td>
                            <td class='td-style'> ₹ 5,411</td>
                            <td class='td-style'>₹ 5,322</td>
                            <td class='td-style'> ₹ 5,322</td>
                            <td class='td-style'> 10 July 2020</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Cotton</td>
                            <td class='td-style'>Cotton</td>
                            <td class='td-style'> ₹  4,625</td>
                            <td class='td-style'> ₹ 4,000</td>
                            <td class='td-style'> ₹ ₹ 3,800</td>
                            <td class='td-style'> 30 May 2020</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Dry Chillies</td>
                            <td class='td-style'>1st Sort</td>
                            <td class='td-style'> ₹ 19,400</td>
                            <td class='td-style'>₹ 16,400</td>
                            <td class='td-style'>₹ 13,400</td>
                            <td class='td-style'> 31 December 2019</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Dry Chillies</td>
                            <td class='td-style'> 2nd Sort</td>
                            <td class='td-style'> ₹ 16,200</td>
                            <td class='td-style'> ₹ 16,200</td>
                            <td class='td-style'> ₹ 16,200</td>
                            <td class='td-style'> 27 December 2019</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Onion</td>
                            <td class='td-style'>1st Sort</td>
                            <td class='td-style'> ₹ 8,000</td>
                            <td class='td-style'> ₹ 7,000</td>
                            <td class='td-style'> ₹ 6,000</td>
                            <td class='td-style'> 27 October 2019</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Potato</td>
                            <td class='td-style'>Big</td>
                            <td class='td-style'>₹ 1,500</td>
                            <td class='td-style'>₹ 1,300</td>
                            <td class='td-style'>₹ 1,200</td>
                            <td class='td-style'> 02 February 2019</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Garlic</td>
                            <td class='td-style'>Garlic</td>
                            <td class='td-style'> ₹ 8,000</td>
                            <td class='td-style'> ₹ 7,000</td>
                            <td class='td-style'> ₹ 6,000</td>
                            <td class='td-style'> 3 October 2018</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Paddy(Dhan)</td>
                            <td class='td-style'>Vijaya Masuri</td>
                            <td class='td-style'> ₹ 1,800</td>
                            <td class='td-style'>₹ 1000</td>
                            <td class='td-style'> ₹ 1500</td>
                            <td class='td-style'> 18 September 2018</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                        <tr>
                            <td class='td-style'>Soyabean</td>
                            <td class='td-style'>Soyabean</td>
                            <td class='td-style'>₹ 2,122</td>
                            <td class='td-style'>₹ 2,122</td>
                            <td class='td-style'>₹ 2,122</td>
                            <td class='td-style'> 27 May 2018</td>
                            <td class='td-style'> <img  alt='Dry Chillies Price Trend' src='assets/images/price_trend_button.png'
                                 width='35' height='35'></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <div class="col-1" >
                <div class = "card" style=" width:150px;margin-right: 20px;margin-top: 30px;">
                <h5> <b>Moblie from FlipKart</b></h5>
                    <img src = "assets/images/ad3.jpeg" class = "card-img-top" alt=" " style="height:120px; width:70px;margin-right: 10px;">
                    <div class = "card-body">
                    <h5 class = "card-title"><b>Ads</b></h5>
                    <button class="button button1">BUY</button>
                    </div>
                </div>
                    <br/>
                <div class = "card"  style=" width:160px;margin-right: 20px;">
                    <h5>  <b>Pesticides from FlipKart</b></h5>
                    <img src = "assets/images/ad1.png" class = "card-img-top" alt=" " style="height:120px; width:70px;margin-right: 10px;">
                    <div class = "card-body">
                    <h5 class = "card-title"><b>Ads</b></h5>
                    <button type="button" class="btn btn-info btn-sm">Buy Now</button>
                    </div>
                </div>
            </div>
   </div>
        </div>
    
        </body>    
        </html>
