<!--<app-register></app-register><app-upload-image></app-upload-image><app-barchart></app-barchart>
<app-login></app-login><router-outlet></router-outlet><router-outlet></router-outlet>
<router-outlet></router-outlet><app-barchart></app-barchart><router-outlet></router-outlet>
<app-about1></app-about1><app-show-db-images></app-show-db-images><router-outlet></router-outlet>
<app-home></app-home><app-cropstatatics><router-outlet></router-outlet></app-cropstatatics>
<app-farm></app-farm>-->
<router-outlet></router-outlet>