<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<style>
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
</style>
<body>
<h3 class><pre>                                        Available farms</pre></h3>
<div class="container-fluid" >
  <div class="row">
    <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 1</b></pre></h5>
    <img src = "assets/images/tomato.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : Ramesh </h5>
    <h5 class = "card-text">Crop Grown : Tomato </h5>
    <h5 class = "card-text">Amount Spent : 25,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    </div>
    <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 2</b></pre></h5>
    <img src = "assets/images/potato.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : pratap</h5>
    <h5 class = "card-text">Crop Grown : potato</h5>
    <h5 class = "card-text">Amount Spent : 20,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    
    </div>
    <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 3</b></pre></h5>
    <img src = "assets/images/brinjal.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : suresh</h5>
    <h5 class = "card-text">Crop Grown : brinjal</h5>
    <h5 class = "card-text">Amount Spent : 30,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    </div>
  

 <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 4</b></pre></h5>
    <img src = "assets/images/banana.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : krishna</h5>
    <h5 class = "card-text">Crop Grown : banana</h5>
    <h5 class = "card-text">Amount Spent : 30,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    </div>
  </div>
<br/><br/>
<div class="row">
    <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 5</b></pre></h5>
    <img src = "assets/images/cotton.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : venkatesh</h5>
    <h5 class = "card-text">Crop Grown : cotton</h5>
    <h5 class = "card-text">Amount Spent : 35,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    </div>
    <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 6</b></pre></h5>
    <img src = "assets/images/redchilli.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : harshini</h5>
    <h5 class = "card-text">Crop Grown : red chilli</h5>
    <h5 class = "card-text">Amount Spent : 20,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    
    </div>
    <div class="col-3">
    <div class = "card" style = "width:18rem">
    <h5><pre>         <b>FarmId : 7</b></pre></h5>
    <img src = "assets/images/paddy.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : prasanna</h5>
    <h5 class = "card-text">Crop Grown : paddy</h5>
    <h5 class = "card-text">Amount Spent : 25,000</h5>
<button class="button button1">view</button>
  </div>
    </div>
    </div>
  

 <div class="col-3">
    <div class = "card" style = "width:18rem">
<h5><pre>         <b>FarmId : 8</b></pre></h5>
    <img src = "assets/images/corn.jpg" class = "card-img-top" alt=" " height = "250">
    <div class = "card-body">
    <h5 class = "card-title">Farmer : manasa</h5>
    <h5 class = "card-text">Crop Grown : corn</h5>
    <h5 class = "card-text">Amount Spent : 35,000</h5>
<button class="button button1">view</button>
    </div>
    </div>
    </div>



</div>
</div>

</body>
</html>
